/* Por elemento */
h1 {
    color: indigo;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p, h2, h5 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Por clase y por id */
.titulo-pagina {
    color: white;
    background-color: #4b0082;
}

#titulo-general {
    color: rgb(75,0,130);
}

.descripcion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}

#logo-cet {
    height: 5%;
    width: 5%;
}

#formulario {
    border-style: solid;
    border-color: #4b0082;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
}

.filas-formulario {
    display: flex;
    flex-direction: row; /* Esta línea en realidad no hace falta, ya que al no especificar, el valor por defecto es "row" */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
}
